.introduction {
   
    text-align: center;
    background-color: black;
    color: white;
}
.introduction img {
    width: 50%;
    height:auto;
    filter: grayscale(100%);
}

.work {
    background-color: black;
    color: white;
}

.experience {
    background-color: black;
    color: white;
}

.highlight {
    color:plum;
}